/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Header container styles */
.header-container {
    background-color: #ffd21e; /* Blue color */
    color: #F5F5F5;
    text-align: left;
    padding: 5px;
}

/* Container styles */
.main-container {
    display: flex;
    flex-direction: column; /* Stack sections vertically */
    align-items: center; /* Horizontally center the sections */
    padding: 0px;
    margin:0;
    height:100vh;
    
}

/* Left section styles */
.left-section {
    width: 100%; /* Take full width */
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px; /* Add space between sections */

}

/* Right section styles */
.right-section {
    width: 100%; /* Take full width */
    padding: 10px;
    background-color: #fff;

    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



/* Adjust the height of the map */
#googlemap {
    height: 100vh; /* Take half the height of the viewport */
    width: 100%;
    margin-bottom: 10px; /* Add space between sections */
}

/* Adjust the height of the result section */
#result {
    height: 300px; /* Set a fixed height or adjust as needed */
    overflow-y: auto; /* Add scroll if content exceeds the height */
}

/* Container for additional input fields */
#additionalLocations .input-group {
    margin-bottom: 10px; /* Spacing between input groups */
}

#additionalLocations .input-group-prepend {
    width: auto; /* Adjust as needed for icon size */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure width includes padding and border */
    flex: 0 0 auto; /* Prevent the icon container from stretching */
    display: flex; /* Ensure flexbox layout */
    align-items: center; /* Align items vertically in the center */
}

#additionalLocations .input-group-prepend .input-group-text {
    padding: 0; /* Remove padding for the icon */
}

/* Header styles */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff; /* Blue color */
}

/* Form container styles */
.form-container {
    max-width: 400px; /* Increased maximum width for better spacing */
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Input styles */
input[type="text"] {
    width: 100%; /* Input fields take full width */
    padding: 10px;
    margin-bottom: 10px; /* Spacing between input fields */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure width includes padding and border */
}

/* Button styles */
button {
    width: 100%; /* Buttons take full width */
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px; /* Spacing between buttons */
    margin-bottom: 10px;
}

button:last-child {
    margin-top: 0; /* Remove margin from last button */
}

button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

#right-half{
	width: 100vw;
	height: 100vh;
	background-color:#621105;
}

